<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示数据表头</title>

</head>
<body>
    <h1>数据列表</h1>
    <table>
        <thead>
            <tr>
                {% for v in headers %}
                    <th>{{ v }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in body %}
                <tr>
                    {% for field in row %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

</body>
</html>